<style>
  .sidebar{
    background-image: linear-gradient(#accbee,#e7f0fd);
  }
</style>
<div class="sidebar">
    <a id="profile_link" href="/admin">Profile</a>
    <a id="upload_link" href="/admin/upload">Upload</a>
    <a id="manage_link" href="/admin/manage">Manage Content</a>
    <a id="update_link" href="/admin/update">Update Profile</a>
    <a id="managePassword_link" href="/admin/managePassword">Manage Password</a>
  </div>