<div class="sidebar">
    <a id="profile_link" href="/admin">Profile</a>
    <a id="upload_link" href="/admin/upload">Upload</a>
    <a id="manage_link" href="/admin/manage">Manage</a>
    <a id="update_link" href="/admin/update">Update Profile</a>
  </div>