<div class="drop-zone">
    <span class="drop-zone__prompt">Drop file here or Click to upload</span>
    <!-- <div class="drop-zone__thumb" data-label="myfile.txt"></div> -->
    <input type="file" name="myFile" id="drag-drop-inp" class="drop-zone__input">
</div>
<div id="size"></div>
