.container {
  width: 80%;
  background-color: #d3f1d3;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

#titleInput {
  width: 70%;
  margin: 0 0 20px 0;
}

h1, h2, p {
  margin: 10px 0;
}

.error {
  color: red;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #2980b9;
}

.blog {
  background-color: #fcf5f5;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.deleteBox {
  border: 4px solid #a5001e;
    background-color: #a5001e;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.box1 label, .box2 label {
  border: 2px solid none;
  background-color: rgb(104, 104, 235);
  color: white;
  padding: 5px 5px 5px 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 0 10px 10px 0;
}

.deleteBox:hover {
  background-color: #ff0000;
  border-color: #ff0000;
  scale: 1.05;
  transition: 0.1s;
  color: white;
}

#errorBox {
  background-color: red;
  margin: 5px 0 5px 0;
  border: 2px solid red;
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: fit-content;
}